<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @create_recipe_category.name %>
</p>

<%= link_to 'Edit', edit_create_recipe_category_path(@create_recipe_category) %> |
<%= link_to 'Back', create_recipe_categories_path %>
