<div class="panel panel-pink panelMove toggle panelClose">
    <!-- Start .panel -->
    <div class="panel-heading">
        <h4 class="panel-title">Shopping List</h4>
    </div>
    <div class="panel-body">
        some shopping list stuff
    </div>
</div>