<% title(@page_header) %>
<%= render 'layouts/page_header' %>

<div class="row">
    <!-- Start .row -->
    <div class="col-xs-12 col-sm-6 sortable-layout">
    	<% @thisRecipe = @featuredRecipe #Assignment for templating %>
        <%= render 'widgets/show_recipe', object: @thisRecipe %>
    </div>


    <div class="col-xs-12 col-sm-6 sortable-layout">
        <%= render 'widgets/shopping_list' %>
    </div>
</div>