<% title(@page_header) %>
<%= render 'layouts/page_header' %>


<div class="row" id="stats_tiles_container">
	<%= render 'dashboard_widgets' %>
</div>

<div class="row">
    <!-- Start .row -->
    <div class="col-xs-12 col-sm-6 sortable-layout">
    	<% @thisRecipe = @featuredRecipe #Assignment for templating %>
        <%= render 'widgets/show_recipe', object: @thisRecipe %>
    </div>


    <div class="col-xs-12 col-sm-6 sortable-layout">
    	<% @thisCart = @myCart #Assignment for templating %>
        <%= render 'widgets/shopping_list', object: @thisCart %>
    </div>
</div>