<div class="outlet">
    <!-- Start .outlet -->
    <!-- Page start here ( usual with .row ) -->
    <div class="row">
        <div class="col-lg-8">
            <!-- col-lg-8 start here -->
            <div class="panel panel-default plain">
                <!-- Start .panel -->
                <div class="panel-heading white-bg"></div>
                <div class="panel-body p0">
                    <div id="calendar">
                    </div>
                </div>
            </div>
            <!-- End .panel -->
        </div>
        <!-- col-lg-8 end here -->
        <div class="col-lg-4">
            <!-- col-lg-4 start here -->
            <div class="page-header">
                <h4>Events
                    <small>drop events to calendar</small>
                </h4>
            </div>
            <div id="external-events">
                <div class="external-event">Meeting with SEO</div>
                <div class="external-event">Hire support assistant</div>
                <div class="external-event">Meeting staff</div>
                <div class="external-event">New project begin</div>
                <div class="external-event">Repair car</div>
            </div>
        </div>
        <!-- col-lg-4 end here -->
    </div>
    <!-- Page End here -->
</div>