<div class="outlet">
    <!-- Start .outlet -->
    <!-- Page start here ( usual with .row ) -->
    <div class="row">
        <div class="col-lg-6">
            <!-- col-lg-6 start here -->
            <div class="panel panel-primary toggle">
                <!-- Start .panel -->
                <div class="panel-heading">
                    <h4 class="panel-title"><i class="im-wand"></i> Form wizard with steps</h4>
                </div>
                <div class="panel-body">
                    <form id="wizard" class="form-horizontal form-wizard" role="form">
                        <div class="msg"></div>
                        <div class="wizard-steps"></div>
                        <div class="step" id="first">
                            <span data-icon="ec-user" data-text="Personal information"></span>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">First Name</label>
                                <div class="col-lg-9">
                                    <input class="form-control" name="firstname" type="text">
                                </div>
                            </div>
                            <!-- End .control-group  -->
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Last Name</label>
                                <div class="col-lg-9">
                                    <input class="form-control" name="lastname" type="text">
                                </div>
                            </div>
                            <!-- End .control-group  -->
                        </div>
                        <div class="step" id="personal">
                            <span data-icon="fa-envelope" data-text="Contact information"></span>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Email</label>
                                <div class="col-lg-9">
                                    <input class="form-control" name="email" type="email">
                                </div>
                            </div>
                            <!-- End .control-group  -->
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Phone number</label>
                                <div class="col-lg-9">
                                    <input class="form-control" name="phone" type="text">
                                </div>
                            </div>
                            <!-- End .control-group  -->
                        </div>
                        <div class="step submit_step" id="account">
                            <span data-icon="ec-unlocked" data-text="Account information"></span>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Username</label>
                                <div class="col-lg-9">
                                    <input class="form-control" name="username" type="text">
                                </div>
                            </div>
                            <!-- End .control-group  -->
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Password</label>
                                <div class="col-lg-9">
                                    <input class="form-control" name="password" type="password">
                                </div>
                            </div>
                            <!-- End .control-group  -->
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Re-type password</label>
                                <div class="col-lg-9">
                                    <input class="form-control" name="password_2" type="password">
                                </div>
                            </div>
                            <!-- End .control-group  -->
                        </div>
                        <div class="wizard-actions">
                            <button class="btn pull-left" type="reset"><i class="en-arrow-left5"></i>Back</button>
                            <button class="btn pull-right" type="submit">Next<i class="en-arrow-right5"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- End .panel -->
        </div>
        <!-- col-lg-6 end here -->
        <div class="col-lg-6">
            <!-- col-lg-6 start here -->
            <div class="panel panel-primary toggle">
                <!-- Start .panel -->
                <div class="panel-heading">
                    <h4 class="panel-title"><i class="im-wand"></i> Form wizard without steps</h4>
                </div>
                <div class="panel-body">
                    <form id="wizard1" class="form-horizontal form-wizard" role="form">
                        <div class="msg"></div>
                        <div class="wizard-steps"></div>
                        <div class="step" id="first1">
                            <span data-icon="ec-user" data-text="Personal information"></span>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">First Name</label>
                                <div class="col-lg-9">
                                    <input class="form-control" name="firstname" type="text">
                                </div>
                            </div>
                            <!-- End .control-group  -->
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Last Name</label>
                                <div class="col-lg-9">
                                    <input class="form-control" name="lastname" type="text">
                                </div>
                            </div>
                            <!-- End .control-group  -->
                        </div>
                        <div class="step" id="personal1">
                            <span data-icon="fa-envelope" data-text="Contact information"></span>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Email</label>
                                <div class="col-lg-9">
                                    <input class="form-control" name="email" type="email">
                                </div>
                            </div>
                            <!-- End .control-group  -->
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Phone number</label>
                                <div class="col-lg-9">
                                    <input class="form-control" name="phone" type="text">
                                </div>
                            </div>
                            <!-- End .control-group  -->
                        </div>
                        <div class="step submit_step" id="account1">
                            <span data-icon="ec-unlocked" data-text="Account information"></span>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Username</label>
                                <div class="col-lg-9">
                                    <input class="form-control" name="username" type="text">
                                </div>
                            </div>
                            <!-- End .control-group  -->
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Password</label>
                                <div class="col-lg-9">
                                    <input class="form-control" name="password" type="password">
                                </div>
                            </div>
                            <!-- End .control-group  -->
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Re-type password</label>
                                <div class="col-lg-9">
                                    <input class="form-control" name="password_2" type="password">
                                </div>
                            </div>
                            <!-- End .control-group  -->
                        </div>
                        <div class="wizard-actions">
                            <button class="btn pull-left" type="reset"><i class="en-arrow-left5"></i>Back</button>
                            <button class="btn pull-right" type="submit">Next<i class="en-arrow-right5"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- End .panel -->
        </div>
        <!-- col-lg-6 end here -->
    </div>
    <div class="row">
        <div class="col-lg-6">
            <!-- col-lg-6 start here -->
            <div class="panel panel-primary toggle">
                <!-- Start .panel -->
                <div class="panel-heading">
                    <h4 class="panel-title"><i class="im-wand"></i> Vertical wizard with steps</h4>
                </div>
                <div class="panel-body">
                    <form id="wizard2" class="form-horizontal form-wizard" role="form">
                        <div class="msg"></div>
                        <div class="wizard-steps"></div>
                        <div class="step" id="first2">
                            <span data-icon="ec-user" data-text="Personal information"></span>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">First Name</label>
                                <div class="col-lg-9">
                                    <input class="form-control" name="firstname" type="text">
                                </div>
                            </div>
                            <!-- End .control-group  -->
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Last Name</label>
                                <div class="col-lg-9">
                                    <input class="form-control" name="lastname" type="text">
                                </div>
                            </div>
                            <!-- End .control-group  -->
                        </div>
                        <div class="step" id="personal2">
                            <span data-icon="fa-envelope" data-text="Contact information"></span>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Email</label>
                                <div class="col-lg-9">
                                    <input class="form-control" name="email" type="email">
                                </div>
                            </div>
                            <!-- End .control-group  -->
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Phone number</label>
                                <div class="col-lg-9">
                                    <input class="form-control" name="phone" type="text">
                                </div>
                            </div>
                            <!-- End .control-group  -->
                        </div>
                        <div class="step submit_step" id="account2">
                            <span data-icon="ec-unlocked" data-text="Account information"></span>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Username</label>
                                <div class="col-lg-9">
                                    <input class="form-control" name="username" type="text">
                                </div>
                            </div>
                            <!-- End .control-group  -->
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Password</label>
                                <div class="col-lg-9">
                                    <input class="form-control" name="password" type="password">
                                </div>
                            </div>
                            <!-- End .control-group  -->
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Re-type password</label>
                                <div class="col-lg-9">
                                    <input class="form-control" name="password_2" type="password">
                                </div>
                            </div>
                            <!-- End .control-group  -->
                        </div>
                        <div class="wizard-actions">
                            <button class="btn pull-left" type="reset"><i class="en-arrow-left5"></i>Back</button>
                            <button class="btn pull-right" type="submit">Next<i class="en-arrow-right5"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- End .panel -->
        </div>
        <!-- col-lg-6 end here -->
        <div class="col-lg-6">
            <!-- col-lg-6 start here -->
            <div class="panel panel-primary toggle">
                <!-- Start .panel -->
                <div class="panel-heading">
                    <h4 class="panel-title"><i class="im-wand"></i> Wizard with validation</h4>
                </div>
                <div class="panel-body">
                    <form id="wizard3" class="form-horizontal form-wizard" role="form">
                        <div class="msg"></div>
                        <div class="wizard-steps"></div>
                        <div class="step" id="first3">
                            <span data-icon="ec-user" data-text="Personal information"></span>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">First Name</label>
                                <div class="col-lg-9">
                                    <input class="form-control" name="firstname" type="text">
                                </div>
                            </div>
                            <!-- End .control-group  -->
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Last Name</label>
                                <div class="col-lg-9">
                                    <input class="form-control" name="lastname" type="text">
                                </div>
                            </div>
                            <!-- End .control-group  -->
                        </div>
                        <div class="step" id="personal3">
                            <span data-icon="fa-envelope" data-text="Contact information"></span>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Email</label>
                                <div class="col-lg-9">
                                    <input class="form-control" name="email" type="email">
                                </div>
                            </div>
                            <!-- End .control-group  -->
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Phone number</label>
                                <div class="col-lg-9">
                                    <input class="form-control" name="phone" type="text">
                                </div>
                            </div>
                            <!-- End .control-group  -->
                        </div>
                        <div class="step submit_step" id="account3">
                            <span data-icon="ec-unlocked" data-text="Account information"></span>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Username</label>
                                <div class="col-lg-9">
                                    <input class="form-control" name="username" type="text">
                                </div>
                            </div>
                            <!-- End .control-group  -->
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Password</label>
                                <div class="col-lg-9">
                                    <input class="form-control" name="password" type="password" id="#password">
                                </div>
                            </div>
                            <!-- End .control-group  -->
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Re-type password</label>
                                <div class="col-lg-9">
                                    <input class="form-control" name="password_2" type="password">
                                </div>
                            </div>
                            <!-- End .control-group  -->
                        </div>
                        <div class="wizard-actions">
                            <button class="btn pull-left" type="reset"><i class="en-arrow-left5"></i>Back</button>
                            <button class="btn pull-right" type="submit">Next<i class="en-arrow-right5"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- End .panel -->
        </div>
        <!-- col-lg-6 end here -->
    </div>
    <!-- Page End here -->
</div>