<div class="outlet">
    <!-- Start .outlet -->
    <!-- Page start here ( usual with .row ) -->
    <div class="row">
        <div class="col-lg-12">
            <!-- col-lg-12 start here -->
            <div class="panel panel-teal plain">
                <!-- Start .panel -->
                <div class="panel-heading">
                </div>
                <div class="panel-body p0">
                    <div id="world-map-markers" style="width: 100%; height: 600px"></div>
                </div>
            </div>
            <!-- End .panel -->
        </div>
        <!-- col-lg-12 end here -->
    </div>
    <!-- Page End here -->
</div>