<div class="outlet">
    <!-- Start .outlet -->
    <!-- Page start here ( usual with .row ) -->
    <div class="row">
        <!-- Start .row -->
        <div class="col-lg-12">
            <!-- col-lg-12 start here -->
            <div class="page-header">
                <h4>TinyMce WYSIWYG editor</h4>
            </div>
            <form class="form-horizontal mb25" role="form">
                <div class="form-group">
                    <textarea name="textarea" id="texteditor" class="form-control tinymce"></textarea>
                </div>
                <!-- End .form-group  -->
            </form>
        </div>
        <!-- col-lg-12 end here -->
        <div class="col-lg-12">
            <!-- col-lg-12 start here -->
            <div class="panel panel-default toggle panelClose panelRefresh">
                <!-- Start .panel -->
                <div class="panel-heading">
                    <h4 class="panel-title">Tinymce in panel box</h4>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <textarea name="textarea" id="texteditor1" class="form-control tinymce-box"></textarea>
                        </div>
                        <!-- End .form-group  -->
                    </form>
                </div>
            </div>
            <!-- End .panel -->
        </div>
        <!-- col-lg-12 end here -->
        <div class="col-lg-12">
            <!-- col-lg-12 start here -->
            <!-- Button to trigger twitter bootstrap modal -->
            <a href="#myModal" role="button" class="btn btn-alt btn-danger mb25" data-toggle="modal">Launch TinyMCE in bootstrap modal</a>
            <!-- Modal itself -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Modal title</h4>
                        </div>
                        <div class="modal-body">
                            <!-- content in modal, tinyMCE 4 texarea -->
                            <textarea class="modal-example" name="content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis <a href="le-test-page/de-la-subsub" target="_self"
                                    rel="nofollow">nostrud</a> exercitation <a href="#test" target="_self" rel="nofollow">ullamco</a> laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                                    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
        </div>
        <!-- col-lg-12 end here -->
        <div class="col-lg-12">
            <!-- col-lg-12 start here -->
            <div class="page-header">
                <h4>Inline editing</h4>
            </div>
            <h4 class="editable">Editable header</h4>
            <div class="editable">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
        </div>
        <!-- col-lg-12 end here -->
    </div>
    <!-- End .row -->
    <!-- Page End here -->
</div>