<li class="active">
    <a href="#dashboard" data-toggle="tab">Dashboard</a>
</li>
<li class="">
    <a href="#charts" data-toggle="tab">Charts</a>
</li>
<li class="">
    <a href="#formStuff" data-toggle="tab">Form Stuff</a>
</li>
<li class="">
    <a href="#formValidation" data-toggle="tab">Form Validation</a>
</li>
<li class="">
    <a href="#formWizard" data-toggle="tab">Form Wizard</a>
</li>
<li class="">
    <a href="#wysiwyg" data-toggle="tab">WYSIWYG</a>
</li>
<li class="">
    <a href="#staticTables" data-toggle="tab">Static Tables</a>
</li>
<li class="">
    <a href="#dataTables" data-toggle="tab">Data Tables</a>
</li>
<li class="">
    <a href="#ajaxTables" data-toggle="tab">AJAX Tables</a>
</li>
<li class="">
    <a href="#notifications" data-toggle="tab">Notifications</a>
</li>
<li class="">
    <a href="#panels" data-toggle="tab">Panels</a>
</li>
<li class="">
    <a href="#tiles" data-toggle="tab">Tiles</a>
</li>
<li class="">
    <a href="#elements" data-toggle="tab">Elements</a>
</li>
<li class="">
    <a href="#icons" data-toggle="tab">Icons</a>
</li>
<li class="">
    <a href="#buttons" data-toggle="tab">Buttons</a>
</li>
<!--<li class="">
    <a href="#calendar" data-toggle="tab">Calendar</a>
</li>-->
<li class="">
    <a href="#grid" data-toggle="tab">Grid</a>
</li>
<li class="">
    <a href="#typography" data-toggle="tab">Typography</a>
</li>
<li class="">
    <a href="#lists" data-toggle="tab">Lists</a>
</li>
<li class="">
    <a href="#fileManager" data-toggle="tab">File Manager</a>
</li>
<li class="">
    <a href="#gallery" data-toggle="tab">Gallery</a>
</li>
<li class="">
    <a href="#widgets" data-toggle="tab">Widgets</a>
</li>
<li class="">
    <a href="#googleMaps" data-toggle="tab">Google Maps</a>
</li>
<li class="">
    <a href="#vectorMaps" data-toggle="tab">Vector Maps</a>
</li>