<div class="row">
    <!-- Start .row -->
    <!-- Start .page-header -->
    <div class="col-lg-9 heading">
        <h1 class="page-header"><i class="<%= @page_icon %>"></i> <%= @page_header %></h1>
    </div>
    <div class="col-lg-3 actionItems">
    	<h1></h1>
    </div>
    <!-- End .page-header -->
</div>