<li id="toggle-sidebar-li">
    <a href="#" id="toggle-sidebar">
    	<i class="en-arrow-left2"></i>
    </a>
</li>
<li>
    <a href="#" class="full-screen">
    	<i class="fa-fullscreen"></i>
    </a>
</li>
<!--<li>
	<a id="clear-localstorage" class="btn tip" title="Reset panels position">
        <i class="ec-refresh"></i>
	</a>
</li>-->