<li id="toggle-sidebar-li">
    <a href="#" id="toggle-sidebar">
    	<i class="en-arrow-left2"></i>
    </a>
</li>
<li>
    <a href="#" class="full-screen">
    	<i class="fa-fullscreen"></i>
    </a>
</li>